* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    display: inline-block;
    font-size: 40px;
    padding: 5px;
    height: 60px;
    border-radius: 20px;
    background-color: darkblue;
    font-family:'Times New Roman', Times, serif;
}

#canvas {
    background-color: black;
}

button {
    width: 80%;
    height: 50%;
    border: 3px solid black;
    border-radius: 50px;
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight:100;
    opacity: 1;
    transition: all 0.5s ease-out;
}
 
button:hover {
    cursor: pointer;
    transform: scale(1.15,1.15);

}
.submit {
    z-index: 10000000;
    display:inline-block;
    align-items: center;
    position:absolute;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10%;
    background-color: lightblue;
    transition: all 1s ease-out;
}

p {
    text-align: center;
    font-size: 120%;
    height: 100%;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input {
    text-align: center;
    font-size: 150%;
    margin: 10%;
    width: 80%;
    height: 10%;
    border-radius: 25px;
}

#submit {
    visibility: hidden;
    background-color: darkblue;
    width: 80%;
    height: 60px;
    font-size: 150%;
    font-family: sans-serif;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 10%;
}

.text {
    text-align: center;
    width: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background-color: whitesmoke;
    height: 0.8em;
}
#blockSize {
    margin-top: 20%;
    margin-bottom: 20%;
}

.playerText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}