* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    display: inline-block;
    font-size: 40px;
    padding: 5px;
    height: 60px;
    border-radius: 20px;
    background-color: darkblue;
    font-family:'Times New Roman', Times, serif;
}

#canvas {
    background-color: black;
}

div {
    position: absolute;
}
a {
    position: relative;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    height: 20%;
    font-size: 3em;
    background: linear-gradient(to bottom, white, rgba(0,0,0,0));
    color: whitesmoke;
}

input {
    text-align: center;
    font-size: 150%;
    margin: 10%;
    width: 80%;
    height: 10%;
    border-radius: 25px;
}



.text {
    text-align: center;
    width: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background-color: whitesmoke;
    height: 0.8em;
}
#blockSize {
    margin-top: 20%;
    margin-bottom: 20%;
}

.playerText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}