* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}
h1 {
    justify-self: baseline;
    align-self: baseline;
    padding: 5px;
    display: inline-block;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.model {
    margin-left: 0.5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 15em;
    height: 15em;
    display: inline-block;
    background: yellow;
    border-radius: 7.5em;
}

#idleBreakout {
    background: url(https://play-lh.googleusercontent.com/P6_Iw8xK-cxvTqtVdIANFGB48y_zLLxCZIK2JT6AMk_AMBGZJFSGmV-3a20BnijlfA=w526-h296-rw);
}
#snakeGame {
    background: url(https://rembound.com/files/creating-a-snake-game-tutorial-with-html5/snake.png);
}
#zombieShooter {
    background: url(https://avatars.mds.yandex.net/get-games/1881364/2a0000016dc1acae7622e2ca9a827f696dfa/orig);
}