* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}
h1 {
    justify-self: baseline;
    align-self: baseline;
    padding: 5px;
    display: inline-block;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.model {
    margin-left: 0.5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 20em;
    height: 20em;
    display: inline-block;
    background: yellow;
    border-radius: 5em;
}


#idleBreakout {
    background: linear-gradient(to bottom, teal, rgba(0,0,0,0));
}
#snakeGame {
    background: linear-gradient(to bottom, red, rgba(0,0,0,0));
}
#zombieShooter {
    background: linear-gradient(to bottom, yellow, rgba(0,0,0,0));
}