* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}
h1 {
    justify-self: baseline;
    align-self: baseline;
    padding: 5px;
    display: inline-block;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.model {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 20em;
    height: 20em;
    display: inline-block;
    background: yellow;
}

#idleBreakout {
    background: url(https://play-lh.googleusercontent.com/P6_Iw8xK-cxvTqtVdIANFGB48y_zLLxCZIK2JT6AMk_AMBGZJFSGmV-3a20BnijlfA=w526-h296-rw);
}
#snakeGame {
    background: url(https://media.istockphoto.com/id/1363586427/vector/a-classic-retro-snake-style-game-basic-digital-screen-for-your-design-vector.jpg?s=612x612&w=0&k=20&c=zh1iSO27qJZF6hmolbGpTWfmkt2hYdfCZsgy9q5OgHE=);
}
#zombieShooter {
    background: url(https://play-lh.googleusercontent.com/ilhyzHPR1GI1xIJ-VMLjgx5QC9DQUu94aQmDl3n60Cal9SRUOWc6cgR64CcnHC2hAw);
}