.body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Chat {
    background-color: lightblue;   
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 40em;

}
.Message {
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    background-color: rgba(0,0,0,0.1);
}

.Author {
    display: inline-block;
    height: 100%;
    width: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;

    text-align: center;
}
.Text {
    display: inline-block;
    height: 100%;
    width: 89%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;

    text-align: center;
}