.body {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    background-color: lightblue;
}
.Chat {
    background-color: rgba(0,0,0,0.1);   
    display: flex;
    background-color: rgba(0,0,0,0.1);   
    display:block;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 39em;


    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: black black;
    scroll-behavior: auto;

}
.Message {
    width: 100%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    display: block;
    background-color: rgba(0,0,0,0.1);
    display: flex;
}

.Author {
    display: inline-block;
    height: auto;
    width: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;

    text-align: center;
}
.Text {
    display: inline-block;
    height: 100%;
    width: 89%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;

    text-align: center;
}

.SendMessage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 20%;
    width: 40%;
    background-color: green;
    margin-left: 30%;
    bottom: 0;
}

.Input {
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 150%;
    overflow:scroll;
}

.Submit {
    background-color: rgb(255, 0, 0);
    color:rgb(255, 251, 0);
    font-size: 150%;
    overflow:scroll;
    width: 5em;
    height: 3em;
}

.hidden {
    display: none;
}