* {
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    background: rgb(0, 150, 80);
}
#back {
    position: absolute;
    width: 5em;
    height:1.5em;
    border-radius: 2em;
    background: linear-gradient(to bottom,aqua, rgba(0,0,0,0));
    color: black !important;
    font-size: 2em;
    z-index: 5;
}
#back:hover {
    cursor: pointer;
}
.hidden{
    display: none;
}
